<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title></title>
	<script type="text/javascript" src="asserts/js/jquery-3.4.1.min.js"></script>
	<link rel="stylesheet" href="asserts/css/bootstrap.min.css" />
	<link rel="stylesheet" href="asserts/css/main/header.css" />
	<link rel="stylesheet" href="asserts/css/main/footer.css" />
	<link rel="stylesheet" type="text/css" href="asserts/css/main/admin/admin.css" />
	<script type="text/javascript" src="asserts/js/bootstrap.min.js"></script>
</head>
<body>
<!--
    作者：offline
    时间：2020-07-11
    描述：顶部栏
-->
<div class="page_top">
	<a href="toIndex"><img src="asserts/img/logo.png" /></a>
	<div class="dropdown" id="logAndReg_div">
		<h4 class="btn btn-default btn-lg dropdown-toggle" id="user_menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			欢迎：管理员
			<span class="caret"></span>
		</h4>
		<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="user_menu">
			<li>
				<a href="toUserCenter">个人中心</a>
			</li>
			<li>
				<a href="toIndex">返回首页</a>
			</li>
			<li>
				<a href="loginOut">退出登录</a>
			</li>
			<li role="separator" class="divider"></li>
			<li>
				<a href="#">用户须知与服务协议</a>
			</li>
		</ul>
	</div>
	<div class="main_panel">
		<hr />
		<div class="user_selector">
			<form class="form-inline" action="searchPhone" method="post">
				<div class="form-group">
					<label for="UID">账号（手机号码）</label>
					<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
					<input type="text" class="form-control" id="UID" name="inphone" placeholder="输入用户手机号">
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-default">筛选</button>
				</div>
			</form>
		</div>
		<div class="user_selector">
			<form class="form-inline" action="searchValue" method="post">
				<div class="form-group">
					<label for="credit">信誉积分区间</label>
					<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
					<input type="number" class="form-control" id="minCredit" placeholder="最小值" name="credit1">到
					<input type="number" class="form-control" id="maxCredit" placeholder="最大值" name="credit2">
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-default">筛选</button>
				</div>
			</form>
		</div>
		<hr />
		<div class="user_table">
			<table class="table table-condensed">
				<tr>
					<td class="active">#手机</td>
					<td class="success">#昵称</td>
					<td class="warning">#信誉分</td>
					<td class="active">#状态</td>
					<td class="danger">#操作</td>

				</tr>
				<tr th:each="user:${users}">
					<td class="active" th:text="${user.phone}">12345678910</td>
					<td class="success" th:text="${user.uname}">真步</td>
					<td class="warning" th:text="${user.credit}">95</td>
					<td class="active" th:text="${user.state}">12345678910</td>
					<td class="danger"><a th:href="@{/updState/}+${user.uid}">冻结</a>&emsp;&emsp;/&emsp;&emsp;<a th:href="@{/updRecover/}+${user.uid}">恢复</a></td>
				</tr>
			</table>
		</div>

		<div class="pagehelper">
			<nav aria-label="Page navigation">
				<ul class="pagination">

					<li>
						<a th:href="@{'/toAdmin?page='+${page.firstPage}}">首页</a>
					</li>
					<li th:if="${page.pageNum}!=${page.firstPage}">
						<a th:href="@{'/toAdmin?page='+${page.prePage}}">上一页</a>
					</li>
					<li th:if="${page.pageNum}!=${page.lastPage}">
						<a th:href="@{'/toAdmin?page='+${page.nextPage}}">下一页</a>
					</li>
					<li>
						<a th:href="@{'/toAdmin?page='+${page.lastPage}}">尾页</a>
					</li>
				</ul>

			</nav>
			&emsp;&emsp;共[[${page.pages}]]页
		</div>

	</div>
</div>
</body>
</html>