<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xrpt.demo.dao.OrderDao">
    <resultMap type="com.xrpt.demo.entity.Order" id="ResultMapOrder">
        <id column="t_oid" property="oid" jdbcType="INTEGER" />
        <result column="t_uid" property="uid" jdbcType="INTEGER" />
        <result column="t_poster" property="poster" jdbcType="VARCHAR" />
        <result column="t_taker" property="takerId" jdbcType="INTEGER" />
        <result column="t_lid" property="lid" jdbcType="INTEGER" />
        <result column="t_address" property="address" jdbcType="VARCHAR" />
        <result column="t_phone" property="phone" jdbcType="VARCHAR" />
        <result column="t_code" property="code" jdbcType="VARCHAR" />
        <result column="t_ddl" property="ddl" jdbcType="TIMESTAMP" />
        <result column="t_price" property="price" jdbcType="DECIMAL" />
        <result column="t_date" property="date" jdbcType="TIMESTAMP" />
        <result column="t_state" property="state" jdbcType="INTEGER" />
    </resultMap>

    <select id="queryOrderByState" resultMap="ResultMapOrder" parameterType="Integer">
        select * from tab_order where t_state = #{state}
    </select>
</mapper>