<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xrpt.demo.dao.OrderDao">
    <resultMap type="com.xrpt.demo.entity.Order" id="ResultMapOrder">
        <id column="t_oid" property="oid" jdbcType="INTEGER" />
        <result column="t_uid" property="uid" jdbcType="INTEGER" />
        <result column="t_poster" property="poster" jdbcType="VARCHAR" />
        <result column="t_taker" property="takerId" jdbcType="INTEGER" />
        <result column="t_lid" property="lid" jdbcType="INTEGER" />
        <result column="t_address" property="address" jdbcType="VARCHAR" />
        <result column="t_phone" property="phone" jdbcType="VARCHAR" />
        <result column="t_code" property="code" jdbcType="VARCHAR" />
        <result column="t_ddl" property="ddl" jdbcType="TIMESTAMP" />
        <result column="t_price" property="price" jdbcType="DECIMAL" />
        <result column="t_date" property="date" jdbcType="TIMESTAMP" />
        <result column="t_state" property="state" jdbcType="INTEGER" />
    </resultMap>

    <select id="queryTakerOrderByState" resultMap="ResultMapOrder" parameterType="Integer">
        select * from tab_order where t_state = #{state} and t_taker = #{takerId}
            <if test="poster!=null and poster!=''">
                and  t_poster like '%${poster}%'
            </if>
            <if test="minTime!=null and minTime!='' and maxTime!=null and maxTime!=''">
                <![CDATA[ and  t_date > #{minTime}  and  t_date <  #{maxTime}]]>
            </if>
    </select>


    <select id="queryUserOrderByState" resultMap="ResultMapOrder" parameterType="com.xrpt.demo.vo.OrderInputVo">
        select * from tab_order where t_state = #{state} and t_uid = #{uid}
            <if test="takerId!=null and takerId!=''">
                 and  t_taker = #{takerId}
            </if>
            <if test="minTime!=null and minTime!='' and maxTime!=null and maxTime!=''">
                <![CDATA[ and  t_date > #{minTime}  and  t_date <  #{maxTime}]]>
            </if>
    </select>

    <select id="queryOneOrderByOid" resultMap="ResultMapOrder" parameterType="Integer">
        select * from tab_order where t_oid = #{oid}
    </select>

    <update id="commitOrder">
        update tab_order set t_price = #{price},t_state = 2,t_date = now() where t_oid = #{oid}
    </update>

    <update id="updateOrderState">
        update tab_order set t_state = #{state} where t_oid = #{oid}
    </update>

</mapper>