<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xrpt.demo.dao.OrderDao">
    <resultMap type="com.xrpt.demo.entity.Order" id="ResultMapOrder">
        <id column="t_oid" property="oid" jdbcType="INTEGER" />
        <result column="t_uid" property="uid" jdbcType="INTEGER" />
        <result column="t_poster" property="poster" jdbcType="VARCHAR" />
        <result column="t_taker" property="takerId" jdbcType="INTEGER" />
        <result column="t_lid" property="lid" jdbcType="INTEGER" />
        <result column="t_address" property="address" jdbcType="VARCHAR" />
        <result column="t_phone" property="phone" jdbcType="VARCHAR" />
        <result column="t_code" property="code" jdbcType="VARCHAR" />
        <result column="t_ddl" property="ddl" jdbcType="TIMESTAMP" />
        <result column="t_price" property="price" jdbcType="DECIMAL" />
        <result column="t_date" property="date" jdbcType="TIMESTAMP" />
        <result column="t_state" property="state" jdbcType="INTEGER" />
    </resultMap>

    <select id="queryTakerOrderByState" resultMap="ResultMapOrder" parameterType="Integer">
        select * from tab_order where t_state = #{state}
        <if test="takerId!=null and takerId!=0">
            and t_taker = #{takerId}
        </if>
        <if test="poster!=null and poster!=''">
            and  t_poster like '%${poster}%'
        </if>
        <if test="minTime!=null and minTime!='' and maxTime!=null and maxTime!=''">
            <![CDATA[ and  t_date > #{minTime}  and  t_date <  #{maxTime}]]>
        </if>
        <if test="lid!=null and lid!=''">
            and  t_lid like '%${lid}%'
        </if>
        <if test="address!=null and address!=''">
            and  t_address like '%${address}%'
        </if>
    </select>


    <select id="queryUserOrderByState" resultMap="ResultMapOrder" parameterType="com.xrpt.demo.vo.OrderInputVo">
        select * from tab_order where t_state = #{state} and t_uid = #{uid}
            <if test="takerId!=null and takerId!=''">
                 and  t_taker = #{takerId}
            </if>
            <if test="minTime!=null and minTime!='' and maxTime!=null and maxTime!=''">
                <![CDATA[ and  t_date > #{minTime}  and  t_date <  #{maxTime}]]>
            </if>
    </select>

    <select id="queryOneOrderByOid" resultMap="ResultMapOrder" parameterType="Integer">
        select * from tab_order where t_oid = #{oid}
    </select>

    <update id="commitOrder">
        update tab_order set t_price = #{price},t_state = 2,t_date = now() where t_oid = #{oid}
    </update>

    <update id="acceptOrder">
        update tab_order set t_taker = #{takerId},t_state = 1 where t_oid = #{oid}
    </update>

    <update id="updateOrderState">
        update tab_order set t_state = #{state} where t_oid = #{oid}
    </update>

    <insert id="addOrder" parameterType="com.xrpt.demo.entity.Order">
        INSERT INTO tab_order (t_uid,t_poster,t_lid,t_address,t_phone,t_ddl,t_code,t_state,t_date) VALUES
        (#{uid},#{poster},#{lid},#{address},#{phone},#{ddl},#{code},0,#{date})
    </insert>

    <update id="editPoster">
        update tab_order set t_poster = #{poster} where t_oid = #{oid}
    </update>

    <update id="editLid">
        update tab_order set t_lid = #{lid} where t_oid = #{oid}
    </update>

    <update id="editAddress">
        update tab_order set t_address = #{address} where t_oid = #{oid}
    </update>

    <update id="editPhone">
        update tab_order set t_phone = #{phone} where t_oid = #{oid}
    </update>

    <update id="editDDL">
        update tab_order set t_ddl = #{ddl} where t_oid = #{oid}
    </update>

    <update id="editCode">
        update tab_order set t_code = #{code} where t_oid = #{oid}
    </update>

</mapper>