<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript" src="asserts/js/jquery-3.4.1.min.js" th:src="@{/asserts/js/jquery-3.4.1.min.js}"></script>
		<link rel="stylesheet" href="asserts/css/bootstrap.min.css" th:href="@{/asserts/css/bootstrap.min.css}"/>
		<link rel="stylesheet" href="asserts/css/main/header.css" th:href="@{/asserts/css/main/header.css}"/>
		<link rel="stylesheet" href="asserts/css/main/footer.css" th:href="@{/asserts/css/main/footer.css}"/>
		<link rel="stylesheet" href="asserts/css/main/poster/poster.css" th:href="@{/asserts/css/main/poster/poster.css}"/>
		<script type="text/javascript" src="asserts/js/bootstrap.min.js" th:src="@{/asserts/js/bootstrap.min.js}"></script>
	</head>

	<body>
		<!--
        	作者：offline
        	时间：2020-07-11
        	描述：顶部栏
        -->
		<div class="page_top">
			<a href="toIndex"><img src="asserts/img/logo.png" /></a>
			<div class="dropdown" id="logAndReg_div">
				<h4 class="btn btn-default btn-lg dropdown-toggle" id="user_menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    				欢迎：XXXXXXXXXXXXX
   				 <span class="caret"></span>
  				</h4>
				<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="user_menu">
					<li>
						<a href="toUserCenter">个人中心</a>
					</li>
					<li>
						<a href="toIndex">返回首页</a>
					</li>
					<li>
						<a href="#">退出登录</a>
					</li>
					<li role="separator" class="divider"></li>
					<li>
						<a href="#">用户须知与服务协议</a>
					</li>
				</ul>
			</div>
			<!--
                	作者：offline
                	时间：2020-07-11
                	描述：标签页
                -->
			<div class="main_panel">

				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist" id="nav_tabs">
					<li role="presentation" class="active" id="waitingg">
						<a href="#waiting" aria-controls="waiting" role="tab" data-toggle="tab">待接的订单</a>
					</li>
					<li role="presentation">
						<a href="#token" aria-controls="token" role="tab" data-toggle="tab">已被接受的订单</a>
					</li>
					<li role="presentation">
						<a href="#unPay" aria-controls="unPay" role="tab" data-toggle="tab">待支付的订单</a>
					</li>
					<li role="presentation" id="finishedd">
						<a href="#finished" aria-controls="finished" role="tab" data-toggle="tab">已完成的订单</a>
					</li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<!--
                    	作者：offline
                    	时间：2020-07-11
                    	描述：第一页
                    -->
					<div role="tabpanel" class="tab-pane active" id="waiting">
						<div th:each="order1VO:${orders1VO}"  class="your_table">
							<a th:href="@{toOrderDetail(orderId=${order1VO.order.oid})}">
								<table border="0px" cellspacing="" cellpadding="" class="table">
									<!-- On rows -->
									<tr>
										<td colspan="2" class="goods_img">
											<img src="asserts/img/goods.png" />
										</td>
									</tr>
									<tr class="success">
										<td>发布者：</td>
										<td>[[${order1VO.order.poster}]]</td>
									</tr>
									<tr class="warning">
										<td>驿站位置：</td>
										<td>[[${order1VO.location.content}]]</td>

									</tr>
									<tr class="danger">
										<td>交货地址：</td>
										<td>[[${order1VO.order.address}]]</td>

									</tr>
									<tr class="success">
										<td>交货时间：</td>
										<td th:text="${#dates.format(order1VO.order.ddl, 'yyyy-MM-dd HH:mm:ss')}"></td>
									</tr>

								</table>
							</a>
						</div>
						<div class="your_table">
							<a href="#" data-toggle="modal" data-target="#new">
								<div border="0px" class="add_btn">
									新增
								</div>
							</a>
						</div>
						<!--
                        	作者：offline
                        	时间：2020-07-11
                        	描述：新增订单模态框
                        -->
						<div class="modal fade" id="new" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title" id="myModalLabel">新增一个代取请求</h4>
									</div>
									<div class="modal-body">
										<form action="addOrder" id="newOrder" method="post" >
											<div class="form-group">
												<label for="userName">收货人</label>
												<input name="poster" type="text" class="form-control" id="userName" placeholder="怎么称呼您呢？">
												<input name="uid" th:value="${session.currentUser.uid}" type="hidden">
											</div>
											<div class="form-group">
												<label for="location">驿站位置</label>
												<select name="lid" class="form-control" id="location">
													<option th:each="location:${locations}" th:value="${location.lid}" th:text="${location.content}">食堂对面菜鸟驿站</option>
												</select>
											</div>
											<div class="form-group">
												<label for="address">交货地址</label>
												<input name="address" type="text" class="form-control" id="address" placeholder="在哪交给您呢？">
											</div>
											<div class="form-group">
												<label for="phone">联系电话</label>
												<input name="phone" type="text" class="form-control" id="phone" placeholder="您的手机联系方式">
											</div>
											<div class="form-group">
												<label for="DDL">最晚送达时间</label>
												<input name="ddl" type="datetime-local" class="form-control" id="DDL">
											</div>
											<div class="form-group">
												<label for="code">取件码</label>
												<input name="code" type="text" class="form-control" id="code" placeholder="您的快递取件码">
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
												<!--<button  type="submit" >提交</button>-->
												<input type="submit" value="提交" class="btn btn-primary" />
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--
                    	作者：offline
                    	时间：2020-07-11
                    	描述：第二页
                    -->
					<div role="tabpanel" class="tab-pane" id="token">
						<div th:each="order2VO:${orders2VO}" class="your_table">
							<table border="0px" cellspacing="" cellpadding="" class="table">
								<!-- On rows -->
								<tr>
									<td colspan="2" class="goods_img">
										<img src="asserts/img/goods.png" />
									</td>
								</tr>
								<tr class="success">
									<td>代取人：</td>
									<td>[[${order2VO.taker.uname}]]</td>
								</tr>
								<tr class="warning">
									<td>联系方式：</td>
									<td>[[${order2VO.taker.phone}]]</td>
								</tr>
								<tr class="danger">
									<td>交货地址：</td>
									<td>[[${order2VO.order.address}]]</td>
								</tr>
								<tr class="success">
									<td>驿站位置：</td>
									<td>[[${order2VO.location.content}]]</td>
								</tr>
								<tr class="info">
									<td>取件码：</td>
									<td>
										[[${order2VO.order.code}]]
									</td>
								</tr>
								<tr class="success">
									<td>限定时间：</td>
									<td th:text="${#dates.format(order2VO.order.ddl, 'yyyy-MM-dd HH:mm:ss')}"></td>
								</tr>
								<tr class="warning">
									<td>有责取消：</td>
									<td>扣除相应信誉积分</td>
								</tr>
								<tr class="info">
									<td>操作：</td>
									<td>
										<a href="" th:href="@{'/userCancle?oid='+${order2VO.order.oid}}">取消订单</a>
										<input class="hiddenOid" type="hidden" value="" th:value="${order2VO.order.oid}"/>
									</td>
								</tr>
							</table>
						</div>
					</div>
					<!--
                    	作者：wjx
                    	时间：2020-07-17
                    	描述：第三页 待支付订单
                    -->
					<div role="tabpanel" class="tab-pane" id="unPay">
						<div th:each="order3VO:${orders3VO}" class="your_table">
							<table border="0px" cellspacing="" cellpadding="" class="table">
								<!-- On rows -->
								<tr>
									<td colspan="2" class="goods_img">
										<img src="asserts/img/goods.png" />
									</td>
								</tr>
								<tr class="success">
									<td>代取人：</td>
									<td>[[${order3VO.taker.uname}]]</td>
								</tr>
								<tr class="warning">
									<td>联系方式：</td>
									<td>[[${order3VO.taker.phone}]]</td>
								</tr>
								<tr class="danger">
									<td>交货地址：</td>
									<td>[[${order3VO.order.address}]]</td>
								</tr>
								<tr class="success">
									<td>驿站位置：</td>
									<td>[[${order3VO.location.content}]]</td>
								</tr>
								<tr class="info">
									<td>取件码：</td>
									<td>
										[[${order3VO.order.code}]]
									</td>
								</tr>
								<tr class="success">
									<td>限定时间：</td>
									<td th:text="${#dates.format(order3VO.order.ddl, 'yyyy-MM-dd HH:mm:ss')}"></td>
								</tr>
								<tr class="warning">
									<td>完成时间：</td>
									<td th:text="${#dates.format(order3VO.order.date, 'yyyy-MM-dd HH:mm:ss')}"></td>
								</tr>
								<tr class="danger" th:switch="${order3VO.order.price}">
									<td>订单金额：</td>
									<td th:case="3">￥[[${order3VO.order.price}]]（小件）</td>
									<td th:case="5">￥[[${order3VO.order.price}]]（中件）</td>
									<td th:case="8">￥[[${order3VO.order.price}]]（大件）</td>
								</tr>
								<tr class="info">
									<td>操作：</td>
									<td>
										<a href="" th:href="@{/goAlipay(price=${order3VO.order.price},oid=${order3VO.order.oid})}">去付款</a>
									</td>
								</tr>
							</table>
						</div>
					</div>
					<!--
                    	作者：offline
                    	时间：2020-07-11
                    	描述：第四页
                    -->
					<div role="tabpanel" class="tab-pane" id="finished">
						<hr />
						<div class="order_selector">
							<form class="form-inline" action="toPosterCenter?to=1" method="post">
								<div class="form-group">
									<label for="takerName">代取人</label>
									<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
									<input type="text" class="form-control" id="takerName" name="uname" placeholder="按代取人查询">
								</div>
								<div class="form-group">
									<button type="submit" class="btn btn-default">筛选</button>
								</div>
							</form>
						</div>
						<div class="order_selector">
							<form class="form-inline" action="toPosterCenter?to=1" method="post">
								<div class="form-group">
									<label>日期区间</label>
									<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
									<input type="datetime-local" class="form-control" id="minTime" name="minTime" placeholder="时间区间">&emsp;&emsp;to&emsp;&emsp;
									<input type="datetime-local" class="form-control" id="maxTime" name="maxTime" placeholder="时间区间">
								</div>
								<div class="form-group">
									<button type="submit" class="btn btn-default">筛选</button>
								</div>
							</form>
						</div>
						<hr />
						<div class="poster_table">
							<table class="table table-condensed">
								<tr>
									<td class="active">#订单编号</td>
									<td class="success">#交易日期</td>
									<td class="warning">#代取人</td>
									<td class="danger">#代取人联系方式</td>
									<td class="info">#费用</td>
								</tr>
								<tr th:each="order4VO:${orders4VO}">
									<td class="active">[[${order4VO.order.oid}]]</td>
									<td class="success">[[${#dates.format(order4VO.order.date, 'yyyy-MM-dd HH:mm:ss')}]]</td>
									<td class="warning">[[${order4VO.taker.uname}]]</td>
									<td class="danger">[[${order4VO.taker.phone}]]</td>
									<td class="info">￥[[${order4VO.order.price}]]</td>
								</tr>
							</table>
						</div>
						<div style="display:none;" id="goto" th:text="${goto}"></div>
						<div>
							<nav aria-label="...">
								<ul class="pager">
									<li><a href="#" class="page">第[[${page.pageNum}]]页</a><li>
									<li><a th:href="@{'/toPosterCenter?to=1&page='+${page.firstPage}}" class="page">首页</a><li>
									<li th:if="${page.pageNum}!=${page.firstPage}"><a th:href="@{'/toPosterCenter?to=1&page='+${page.prePage}}" class="page">上一页</a><li>
									<li th:if="${page.pageNum}!=${page.lastPage}"><a th:href="@{'/toPosterCenter?to=1&page='+${page.nextPage}}" class="page">下一页</a><li>
									<li><a th:href="@{'/toPosterCenter?to=1&page='+${page.lastPage}}" class="page">尾页</a><li>
									<li><a href="#" class="page">共[[${page.pages}]]页</a><li>
								</ul>
							</nav>
						</div>
					</div>
				</div>

			</div>
		</div>

		<script type="text/javascript">
			/*设置跳转页面和查询时保持原页面*/
			window.onload = function(){
				var goto = $("#goto").text()
				if (goto == 1){
					$("#finished").addClass("active");
					$("#finishedd").addClass("active");
					$("#waiting").removeClass("active");
					$("#waitingg").removeClass("active");
				}
			};
		</script>
	</body>

</html>