<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript" src="asserts/js/jquery-3.4.1.min.js"></script>
		<link rel="stylesheet" href="asserts/css/bootstrap.min.css" />
		<link rel="stylesheet" href="asserts/css/main/header.css" />
		<link rel="stylesheet" href="asserts/css/main/footer.css" />
		<link rel="stylesheet" type="text/css" href="asserts/css/main/poster/orderDetail.css" />
		<script type="text/javascript" src="asserts/js/bootstrap.min.js"></script>
	</head>

	<body>
		<!--
        	作者：offline
        	时间：2020-07-11
        	描述：顶部栏
        -->
		<div class="page_top">
			<a href="index.html"><img src="asserts/img/logo.png" /></a>
			<div class="dropdown" id="logAndReg_div">
				<h4 class="btn btn-default btn-lg dropdown-toggle" id="user_menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    				欢迎：XXXXXXXXXXXXX
   				 <span class="caret"></span>
  				</h4>
				<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="user_menu">
					<li>
						<a href="toUserCenter">个人中心</a>
					</li>
					<li>
						<a href="index.html">返回首页</a>
					</li>
					<li>
						<a href="#">退出登录</a>
					</li>
					<li role="separator" class="divider"></li>
					<li>
						<a href="#">用户须知与服务协议</a>
					</li>
				</ul>
			</div>

			<!--
            	作者：offline
            	时间：2020-07-12
            	描述：订单详情
            -->
			<div class="main_panel">
				<div class="order_table">
					<table class="table">
						<!-- On rows -->
						<tr class="active">
							<td>订单编号</td>
							<td>123456</td>
						</tr>
						<tr class="success">
							<td>收货人</td>
							<td>真步</td>
						</tr>
						<tr class="warning">
							<td>驿站位置</td>
							<td>食堂对面菜鸟驿站</td>
						</tr>
						<tr class="danger">
							<td>交货地址</td>
							<td>E1-427</td>
						</tr>
						<tr class="info">
							<td>联系电话</td>
							<td>12345678910</td>
						</tr>
						<tr class="active">
							<td>最晚送达时间</td>
							<td>2020-06-12 18:00:00</td>					
						</tr>
						<tr class="success">
							<td>取件码</td>
							<td>123456</td>		
						</tr>
						<tr class="danger">
							<td>操作</td>
							<td><a>接受订单</a></td>		
						</tr>
					</table>
			
				</div>

			</div>
	</body>

</html>