<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript" src="asserts/js/jquery-3.4.1.min.js"></script>
		<link rel="stylesheet" href="asserts/css/bootstrap.min.css" />
		<link rel="stylesheet" href="asserts/css/main/header.css" />
		<link rel="stylesheet" href="asserts/css/main/footer.css" />
		<link rel="stylesheet" href="asserts/css/main/taker/taker.css" />
		<script type="text/javascript" src="asserts/js/bootstrap.min.js"></script>
	</head>

	<body>
		<!--
        	作者：offline
        	时间：2020-07-11
        	描述：顶部栏
        -->
		<div class="page_top">
			<a href="toIndex"><img src="asserts/img/logo.png" /></a>
			<div class="dropdown" id="logAndReg_div">
				<h4 class="btn btn-default btn-lg dropdown-toggle" id="user_menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					欢迎：[[${session.currentUser.uname}]]
					<span class="caret"></span>
				</h4>
				<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="user_menu">
					<li>
						<a href="toUserCenter">个人中心</a>
					</li>
					<li>
						<a href="loginOut">退出登录</a>
					</li>
					<li role="separator" class="divider"></li>
					<li>
						<a href="#">用户须知与服务协议</a>
					</li>
				</ul>
			</div>
			<!--
                	作者：offline
                	时间：2020-07-11
                	描述：标签页
                -->
			<div class="main_panel">

				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist" id="nav_tabs">
					<li role="presentation" class="active" id="waitingg">
						<a href="#waiting" aria-controls="waiting" role="tab" data-toggle="tab">待接订单区</a>
					</li>
					<li role="presentation">
						<a href="#token" aria-controls="token" role="tab" data-toggle="tab">接到的订单</a>
					</li>
					<li role="presentation">
						<a href="#unPay" aria-controls="unPay" role="tab" data-toggle="tab">待支付订单</a>
					</li>
					<li role="presentation" id="finishedd">
						<a href="#finished" aria-controls="finished" role="tab" data-toggle="tab">已完成的订单</a>
					</li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="waiting">
						<!--
                    	作者：offline
                    	时间：2020-07-11
                    	描述：第一页
                    -->
						<hr />
						<!--
                    	作者：offline
                    	时间：2020-07-12
                    	描述：搜索栏
                    -->
						<div class="order_selector">
							<form class="form-inline">
								<div class="form-group">
									<label for="location">驿站位置</label>
									<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
									<select class="form-control" id="location">
										<option>食堂对面菜鸟驿站</option>
										<option>厦软后门菜鸟驿站</option>
									</select>
								</div>
								<div class="form-group">
									<button type="submit" class="btn btn-default">筛选</button>
								</div>
							</form>
						</div>
						<div class="order_selector">
							<form class="form-inline">
								<div class="form-group">
									<label>日期区间</label>
									<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
									<input type="datetime-local" class="form-control" id="minTime" placeholder="时间区间">到
									<input type="datetime-local" class="form-control" id="maxTime" placeholder="时间区间">
								</div>
								<div class="form-group">
									<button type="submit" class="btn btn-default">筛选</button>
								</div>
							</form>
						</div>
						<div class="order_selector">
							<form class="form-inline">
								<div class="form-group">
									<label for="address">交货地址</label>
									<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
									<input type="text" class="form-control" id="address" placeholder="交货地址">
								</div>
								<div class="form-group">
									<button type="submit" class="btn btn-default">筛选</button>
								</div>
							</form>
						</div>
						<hr />
						<div class="your_table">
							<a href="toTakerDetail">
								<table border="0px" cellspacing="" cellpadding="" class="table">
									<!-- On rows -->
									<tr>
										<td colspan="2" class="goods_img">
											<img src="asserts/img/goods.png" />
										</td>
									</tr>
									<tr class="success">
										<td>发布者：</td>
										<td>真步</td>
									</tr>
									<tr class="warning">
										<td>驿站位置：</td>
										<td>厦软后门菜鸟驿站</td>

									</tr>
									<tr class="danger">
										<td>交货地址：</td>
										<td>学生宿舍E1-427</td>

									</tr>
									<tr class="success">
										<td>限定时间：</td>
										<td>2020-06-22 18:00:00</td>
									</tr>

								</table>
							</a>
						</div>

						<div class="your_table">
							<a href="toTakerDetail">
								<table border="0px" cellspacing="" cellpadding="" class="table">
									<!-- On rows -->
									<tr>
										<td colspan="2" class="goods_img">
											<img src="asserts/img/goods.png" />
										</td>
									</tr>
									<tr class="success">
										<td>发布者：</td>
										<td>真步</td>
									</tr>
									<tr class="warning">
										<td>驿站位置：</td>
										<td>厦软后门菜鸟驿站</td>
									</tr>
									<tr class="danger">
										<td>交货地址：</td>
										<td>学生宿舍E1-427</td>
									</tr>
									<tr class="success">
										<td>限定时间：</td>
										<td>2020-06-22 18:00:00</td>
									</tr>
								</table>
							</a>
						</div>
					</div>

					<div role="tabpanel" class="tab-pane" id="token">
						<!--
                        	作者：offline
                        	时间：2020-07-12
                        	描述：第二页
                        -->
						<!--
                            作者：wjx
                            时间：2020-07-16
                            描述：已接受订单循环显示
                        -->
						<div th:each="order2VO:${orders2VO}" class="your_table">
							<table border="0px" cellspacing="" cellpadding="" class="table">
								<!-- On rows -->
								<tr>
									<td colspan="2" class="goods_img">
										<img src="asserts/img/goods.png" />
									</td>
								</tr>
								<tr class="success">
									<td>收货人：</td>
									<td>[[${order2VO.order.poster}]]</td>
								</tr>
								<tr class="warning">
									<td>联系方式：</td>
									<td>[[${order2VO.order.phone}]]</td>
								</tr>
								<tr class="danger">
									<td>交货地址：</td>
									<td>[[${order2VO.order.address}]]</td>
								</tr>
								<tr class="success">
									<td>驿站位置：</td>
									<td>[[${order2VO.location.content}]]</td>
								</tr>
								<tr class="info">
									<td>取件码：</td>
									<td>
										[[${order2VO.order.code}]]
									</td>
								</tr>
								<tr class="success">
									<td>限定时间：</td>
									<td th:text="${#dates.format(order2VO.order.ddl, 'yyyy-MM-dd HH:mm:ss')}"></td>
								</tr>
								<tr class="warning">
									<td>剩余时间：</td>
									<td class="leftTime" checkstate="0" th:value="${order2VO.leftMills}"></td>
								</tr>
								<tr class="info">
									<td>操作：</td>
									<td>
										<a href="" th:href="@{'/takerCancle?oid='+${order2VO.order.oid}}">取消接单</a>&emsp;/&emsp;
										<a href="" class="getHiddenOid" data-toggle="modal" data-target="#conform">确认交货</a>
										<input class="hiddenOid" type="hidden" value="" th:value="${order2VO.order.oid}"/>
									</td>
								</tr>
							</table>
						</div>
					</div>

					<div role="tabpanel" class="tab-pane" id="unPay">
						<!--
                        	作者：wjx
                        	时间：2020-07-16
                        	描述：第三页 待付款
                        -->
						<div th:each="order3VO:${orders3VO}" class="your_table">
							<table border="0px" cellspacing="" cellpadding="" class="table">
								<!-- On rows -->
								<tr>
									<td colspan="2" class="goods_img">
										<img src="asserts/img/goods.png" />
									</td>
								</tr>
								<tr class="success">
									<td>收货人：</td>
									<td>[[${order3VO.order.poster}]]</td>
								</tr>
								<tr class="warning">
									<td>联系方式：</td>
									<td>[[${order3VO.order.phone}]]</td>
								</tr>
								<tr class="danger">
									<td>交货地址：</td>
									<td>[[${order3VO.order.address}]]</td>
								</tr>
								<tr class="success">
									<td>驿站位置：</td>
									<td>[[${order3VO.location.content}]]</td>
								</tr>
								<tr class="info">
									<td>取件码：</td>
									<td>
										[[${order3VO.order.code}]]
									</td>
								</tr>
								<tr class="success">
									<td>限定时间：</td>
									<td th:text="${#dates.format(order3VO.order.ddl, 'yyyy-MM-dd HH:mm:ss')}"></td>
								</tr>
								<tr class="warning">
									<td>完成时间：</td>
									<td th:text="${#dates.format(order3VO.order.date, 'yyyy-MM-dd HH:mm:ss')}"></td>
								</tr>
								<tr class="info">
									<td>操作：</td>
									<td>
										<a href="#" class="noticeUser" th:value="${order3VO.order.uid}">提醒用户付款</a>
									</td>
								</tr>
							</table>
						</div>
					</div>

					<!--
						作者：offline
						时间：2020-07-13
						描述：设置价格模态框
					-->
					<!-- Modal -->
					<div class="modal fade" id="conform" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title" id="myModalLabel">设置价格</h4>
								</div>
								<form action="commitOrder" method="post">
									<div class="modal-body">
										<div class="form-group">
											<label for="price">价格(元)</label>
											<select name="price" class="form-control" id="price" placeholder="价格">
												<option value="3">￥3（小件）</option>
												<option value="5">￥5（中件）</option>
												<option value="8">￥8（大件）</option>
											</select>
											<input id="targetOid" type="hidden" name="oid" value=""/>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
										<button type="submit" class="btn btn-primary">提交</button>
									</div>
								</form>
							</div>
						</div>
					</div>

					<div role="tabpanel" class="tab-pane" id="finished">
						<!--
                        	作者：offline
                        	时间：2020-07-12
                        	描述：第四页
                        -->
						<hr />
						<div class="order_selector">
							<form class="form-inline" action="toTakerCenter?to=1" method="post">
								<div class="form-group">
									<label for="takerName">收货人</label>
									<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
									<input type="text" class="form-control" id="takerName" name="poster" placeholder="按收货人查询">
								</div>
								<div class="form-group">
									<button type="submit" class="btn btn-default">筛选</button>
								</div>
							</form>
						</div>
						<div class="order_selector">
							<form class="form-inline" action="toTakerCenter?to=1" method="post">
								<div class="form-group">
									<label>日期区间</label>
									<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
									<input type="datetime-local" class="form-control" id="minTime1" name="minTime" placeholder="时间区间">到
									<input type="datetime-local" class="form-control" id="maxTime1" name="maxTime" placeholder="时间区间">
								</div>
								<div class="form-group">
									<button type="submit" class="btn btn-default">筛选</button>
								</div>
							</form>
						</div>
						<hr />
						<div class="taker_table">
							<table class="table table-condensed">
								<tr>
									<td class="active">#订单编号</td>
									<td class="success">#交易日期</td>
									<td class="warning">#收货人</td>
									<td class="danger">#收货人联系方式</td>
									<td class="info">#费用</td>
								</tr>
								<tr th:each="order4VO:${orders4VO}">
									<td class="active">[[${order4VO.order.oid}]]</td>
									<td class="success">[[${#dates.format(order4VO.order.date, 'yyyy-MM-dd HH:mm:ss')}]]</td>
									<td class="warning">[[${order4VO.order.poster}]]</td>
									<td class="danger">[[${order4VO.order.phone}]]</td>
									<td class="info">￥[[${order4VO.order.price}]]</td>
								</tr>
							</table>
						</div>
						<div style="display:none;" id="goto" th:text="${goto}"></div>
						<div>
							<nav aria-label="...">
								<ul class="pager">
									<li><a href="#" class="page">第[[${page.pageNum}]]页</a><li>
									<li><a th:href="@{'/toTakerCenter?to=1&page='+${page.firstPage}}" class="page">首页</a><li>
									<li th:if="${page.pageNum}!=${page.firstPage}"><a th:href="@{'/toTakerCenter?to=1&page='+${page.prePage}}" class="page">上一页</a><li>
									<li th:if="${page.pageNum}!=${page.lastPage}"><a th:href="@{'/toTakerCenter?to=1&page='+${page.nextPage}}" class="page">下一页</a><li>
									<li><a th:href="@{'/toTakerCenter?to=1&page='+${page.lastPage}}" class="page">尾页</a><li>
									<li><a href="#" class="page">共[[${page.pages}]]页</a><li>
								</ul>
							</nav>
						</div>

					</div>
				</div>
			</div>
		</div>
	</body>
	<script>
		$(function(){
			$(".getHiddenOid").click(function(){
				var $parent = $(this).parent();
				var oid = $parent.find(".hiddenOid").val();
				$("#targetOid").attr('value',oid);
			});

			/*作者：wjx 倒计时方法*/
			countTime();

			// 提醒用户付款
			$(".noticeUser").click(function () {
				var uid=$(this).attr("value");
				$.ajax({
					url: "noticeUser",
					data:{
						"uid":uid
					},
					type: "POST",
					success:function (result) {
						alert("已提醒用户付款!");
					},
					error:function (e) {
						console.log(e);
					}
				});
			});
		});

		/*作者：wjh 设置跳转页面和查询时保持原页面*/
		window.onload = function(){
			var goto = $("#goto").text()
			if (goto == 1){
				$("#finished").addClass("active");
				$("#finishedd").addClass("active");
				$("#waiting").removeClass("active");
				$("#waitingg").removeClass("active");
			}

		};

		/*作者：wjx 倒计时用到的对象*/
		var Alarm = function (leftMillis, countFunc, endFunc) {
			this.time = Math.floor(leftMillis / 1000); //时间
			this.countFunc = countFunc; //计时函数
			this.endFunc = endFunc; //结束函数
			this.flag = 't' + Date.parse(new Date()); //
		};

		/*作者：wjx 倒计时对象重写start方法*/
		Alarm.prototype.start = function () {
			var self = this;

			self.flag = setInterval(function () {
				if (self.time < 0) {
					clearInterval(self.flag);
					self.endFunc();
					console.log('计时结束');
				} else {
					var minute, hour, day, second;
					day = Math.floor(self.time / 60 / 60 / 24) < 10 ? '0' + Math.floor(self.time / 60 / 60 / 24) : Math.floor(self.time / 60 / 60 / 24);
					hour = Math.floor(self.time / 60 / 60 % 24) < 10 ? '0' + Math.floor(self.time / 60 / 60 % 24) : Math.floor(self.time / 60 / 60 % 24);
					minute = Math.floor(self.time / 60 % 60) < 10 ? '0' + Math.floor(self.time / 60 % 60) : Math.floor(self.time / 60 % 60);
					second = Math.floor(self.time % 60) < 10 ? '0' + Math.floor(self.time % 60) : Math.floor(self.time % 60);
					//倒计时执行函数
					self.countFunc(second, minute, hour, day);
					self.time--;
				}
			}, 1000);
		}
		ctxPath = '[[@{/}]]';
		/*作者：wjx 倒计时实现方法*/
		var countTime = function () {
			var eles = $('.leftTime'),
					len = eles.length;
			for (; len > 0; len--) {
				var ele = eles.eq(len - 1);
				(function (ele) {
					leftMillis = ele.attr("value"),
							alarm = new Alarm(leftMillis, function (second, minute, hour, day) { //计时钟
								ele.text(hour + ':' + minute + ':' + second);
							}, function () { //倒计时结束
								ele.text('00:00:00（已超时）');
							});
					alarm.start();
				})(ele);
			}
		};
	</script>
</html>