<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript" src="../../resource/js/jquery-3.4.1.min.js"></script>
		<link rel="stylesheet" href="../../resource/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../resource/css/main/header.css" />
		<link rel="stylesheet" href="../../resource/css/main/footer.css" />
		<link rel="stylesheet" href="../../resource/css/main/user/user.css" />
		<script type="text/javascript" src="../../resource/js/bootstrap.min.js"></script>
	</head>

	<body>
		<!--
        	作者：offline
        	时间：2020-07-11
        	描述：顶部栏
        -->
		<div class="page_top">
			<a href="../../index.html"><img src="../../resource/img/logo.png" /></a>
			<div class="dropdown" id="logAndReg_div">
				<h4 class="btn btn-default btn-lg dropdown-toggle" id="user_menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    				欢迎：XXXXXXXXXXXXX
   				 <span class="caret"></span>
  				</h4>
				<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="user_menu">
					<li>
						<a href="../User/UserCenter.html">个人中心</a>
					</li>
					<li>
						<a href="../../index.html">返回首页</a>
					</li>
					<li>
						<a href="#">退出登录</a>
					</li>
					<li role="separator" class="divider"></li>
					<li>
						<a href="#">用户须知与服务协议</a>
					</li>
				</ul>
			</div>

			<!--
            	作者：offline
            	时间：2020-07-12
            	描述：标签页
            	
           -->
			<div class="main_panel">

				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist" id="nav_tabs">
					<li role="presentation" class="active">
						<a href="#info" aria-controls="info" role="tab" data-toggle="tab">个人信息</a>
					</li>
					<li role="presentation">
						<a href="#credit" aria-controls="credit" role="tab" data-toggle="tab">信誉中心</a>
					</li>

				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<!--
                    	作者：offline
                    	时间：2020-07-12
                    	描述：第一页
                    -->
					<div role="tabpanel" class="tab-pane active" id="info">
						<hr />
						<div id="info_tab">
							<table class="table">
								<!-- On rows -->
								<tr class="active">
									<td>#昵称</td>
									<td>真步</td>
									<td>
										<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#changeName">修改</button>
									</td>
								</tr>
								<tr class="success">
									<td>#密码</td>
									<td>********</td>
									<td><button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#changePass">修改</button></td>
								</tr>

							</table>
						</div>
						<!--
                        	作者：offline
                        	时间：2020-07-12
                        	描述：修改昵称模态框
                        -->
						<div class="modal fade" id="changeName" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
							<div class="modal-dialog modal-sm" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title" id="myModalLabel">修改昵称</h4>
									</div>
									<form>
									<div class="modal-body">
										<div class="form-group">
											<label for="name">新的昵称</label>
											<input type="text" class="form-control" id="name" placeholder="新的昵称">
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
										<button type="submit" class="btn btn-primary">修改</button>
									</div>
									</form>
								</div>
							</div>
						</div>
						<!--
                        	作者：offline
                        	时间：2020-07-12
                        	描述：修改密码模态框
                        -->
						<div class="modal fade" id="changePass" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
							<div class="modal-dialog modal-sm" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title" id="myModalLabel">修改密码</h4>
									</div>
									<form>
									<div class="modal-body">
										<div class="form-group">
											<label for="password1">新密码</label>
											<input type="password" class="form-control" id="password1" placeholder="新密码">
										</div>
										<div class="form-group">
											<label for="password2">重复新密码</label>
											<input type="password" class="form-control" id="password2" placeholder="新密码">
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
										<button type="submit" class="btn btn-primary">修改</button>
									</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<!--
                    	作者：offline
                    	时间：2020-07-12
                    	描述：第二页
                    -->
					<div role="tabpanel" class="tab-pane" id="credit">
						<hr />
						<h2>当前个人信誉积分：<span id="score">95</span></h2>
						<hr />
						<div class="hotcontent advice">
							<span class="produce">积分增减明细：</span><br />
							<marquee id="affiche" align="left" behavior="scroll" direction="up" height="400px" width="600px" hspace="50" vspace="20" loop="-1" scrollamount="3" scrolldelay="100" onMouseout="this.start()" onMouseover="this.stop()">
								<span id="score_add">
					2020-06-11 18:00 完成订单一笔，积分+1
				</span><br />
								<span id="score_add">
					2020-06-12 18:00 完成订单一笔，积分+1
				</span><br />
								<span id="score_add">
					2020-06-13 18:00 完成订单一笔，积分+1
				</span><br />
								<span id="score_sub">
					2020-06-13 22:00 强行取消订单，积分-5
				</span><br />
							</marquee>
						</div>

					</div>
				</div>
			</div>
	</body>

</html>