<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="asserts/js/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="asserts/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="asserts/css/main/header.css" />
    <link rel="stylesheet" href="asserts/css/main/footer.css" />
    <link rel="stylesheet" href="asserts/css/main/index.css" />
    <script type="text/javascript" src="asserts/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="asserts/js/main/index.js"></script>
</head>
<body>
<!--
    作者：offline
    时间：2020-07-11
    描述：顶部栏1
-->
<div th:if="${session.currenAdmin} == null" class="page_top">
    <img src="asserts/img/logo.png" />
    <div class="dropdown" id="logAndReg_div">
        <h4 class="btn btn-default btn-lg dropdown-toggle" id="logAndReg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            登录/注册
            <span class="caret"></span>
        </h4>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="logAndReg">
            <li>
                <a href="#" data-toggle="modal" data-target="#register">注册</a>
            </li>
            <li>
                <a href="#" data-toggle="modal" data-target="#login">登录</a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
                <a href="toIndex">返回首页</a>
            </li>
            <li>
                <a href="#">用户须知与服务协议</a>
            </li>
        </ul>
        <!--
            作者：offline
            时间：2020-07-11
            描述：注册模态框
        -->

        <!-- Modal -->
        <div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="register">注册</h4>
                    </div>
                    <!--
                        作者：offline
                        时间：2020-07-11
                        描述：注册表单
                    -->
                    <form action="userRegister" id="reg_form">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">账号(推荐用手机号):</label>
                                <span class="alert" id="r_uid">AJAX校验提示文本保留处</span>
                                <input type="text" class="form-control" id="phone" name="phone">

                                <label for="recipient-name" class="control-label">昵称:</label>
                                <span class="alert" id="r_userName">AJAX校验提示文本保留处</span>
                                <input type="text" class="form-control" id="userName" name="name">

                                <label for="recipient-name" class="control-label">密码:</label>
                                <span class="alert" id="r_pass1">AJAX校验提示文本保留处</span>
                                <input type="password" class="form-control" id="password" name="password">

                                <label for="recipient-name" class="control-label">重复密码:</label>
                                <span class="alert" id="r_pass2">AJAX校验提示文本保留处</span>
                                <input type="password" class="form-control" id="password2">

                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" id="reg_submitbut">注册</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <!--
            作者：offline
            时间：2020-07-11
            描述：登录模态框
        -->
        <!-- Modal -->
        <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="login">登录</h4>
                    </div>
                    <!--
                        作者：offline
                        时间：2020-07-11
                        描述：登录表单
                    -->
                    <form action="adminLogin" id="log_form" method="post">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">账号:</label>
                                <span class="alert" id="l_uid">AJAX校验提示文本保留处</span>
                                <input type="text" class="form-control" name="phone">

                                <label for="recipient-name" class="control-label">密码:</label>
                                <span class="alert" id="l_pass">AJAX校验提示文本保留处</span>
                                <input type="password" class="form-control" name="password">

                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" id="log_submitbut">登录</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>


    </div>

</div>
<!--
    作者：offline
    时间：2020-07-11
    描述：顶部栏2
-->
<div th:if="${session.currenAdmin} != null" class="page_top">
    <img src="asserts/img/logo.png" />
    <div class="dropdown" id="logAndReg_div">
        <h4 class="btn btn-default btn-lg dropdown-toggle" id="user_menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            欢迎：管理员
            <span class="caret"></span>
        </h4>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="user_menu">
            <li>
                <a href="toUserCenter">个人中心</a>
            </li>
            <li>
                <a href="loginOut">退出登录</a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
                <a href="#">用户须知与服务协议</a>
            </li>
        </ul>
    </div>

</div>

<!--
    作者：offline
    时间：2020-07-11
    描述：中间栏
-->
<div class="main_panel">

    <div class="jumbotron">
        <div class="container">
            <h1>用户管理</h1>
            <p>啊啦啦，有个快递，需要代取....</p>
            <p>
                <a class="btn btn-default btn-lg" href="toAdmin" role="button">去用户管理！</a>
            </p>
        </div>
    </div>
</div>

</body>
</html>