.user_selector{
	width:33%;
	display: inline-block;
	padding-right: 10px;
}
.main_panel{
	margin-left: 30px;
	margin-right: 30px;
}
.user_table{
	font-size: 20px;
}
.pagehelper{
	margin: 0 auto;
	text-align: center;
}